<!DOCTYPE html>
<html lang="en">
    <body>
            <main>
                <h3>Fill select box using a scraper</h3>
                <select id="userNames">
                        <% resultSet.forEach(function(result) { %>
                            <option><%= result %> </option>
                        <% }); %>
                </select>
            </main>
    </body>
</html>